body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("back2.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
i{
  font-size: 100px;
}

.App{
  margin: auto;
}

.weather{
    display: flex;
    flex-flow: column wrap;
    box-shadow: 0px 1px 10px 0px #cfcfcf;
    overflow: hidden;
    width: 1200px;
    margin: auto;
}

.weather .current
{
    display: flex;
    flex-flow: row wrap;
    background-image: url("currentBackground6.jpg");
    background-repeat: repeat-x;
    /* color: white; */
    background-size: 1200px 500px;
    padding: 40px;
    width: 1200px;
    height: 500px;
    text-shadow: 1px 1px #F68D2E;
    opacity: 90%;
    /* padding-left: 50px; */
    
    
}

.weather .current .info
{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    flex-grow: 2;
}

.weather .current .info .city
{
    font-size: 60px;
    /* color: cornsilk; */
    color: rgb(199, 35, 35);
    text-align: left;
    letter-spacing: 4px;
    text-transform: uppercase;

}

.weather .current .info .temp
{
    font-size: 75px;
    color: cornsilk;
    text-align: left;
}

.weather .current .info .temp .feels{
    
    font-size: 40px;
    color: cornsilk;
    text-align: left;
}

.weather .current .info .wind
{
    font-size: 24px;
    color: cornsilk;
    text-align: left;
}

.weather .current .icon
{
    text-align: center;
    font-size: 64px;
    flex-grow: 1;
}

.weather .future
{
    display: flex;
    flex-flow: row nowrap;
}

.weather .future .day
{
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    padding: 10px 10px;
    /* margin-top: 10px; */
    /* margin-right: 10px; */
    /* background-color:#FFFAFA; */
    background-color: rgb(67,137,222);
    /* background-image: linear-gradient(#fff,rgb(67,137,222)); */
}

.weather .future .day:hover
{
    color: #fff;
    background-color: #F68D2E;
    
}

.weather .future .day h3
{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}

.weather .future .day p
{
    font-size: 20px;
    color: #fff;
    /* color: rgba(0, 0, 0, 0.986); */
}

h4{
    text-align: left;
    padding-left: 10px;
    color: rgb(47, 47, 233);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#backButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position: absolute; 
    top: 48%;   
    left: 10%;            
}

.container{
    width: 100%;
    max-width:initial;
}

.container .row{
    margin: 0;
}
.container .col{
    padding:0;
}

button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 35px;
    color: white;
}

.icon img{
    width: 200px;
}


@media only screen and (max-width: 768px) {
    /* For mobile: */
    [class*="col-"] {
        width: 100%;
      }
    .icon{
        flex-grow: 1;
    }
    .icon img{
        width: 100px;
    }

    .weather .future{
        display: inline;
        /* width: inherit;
        height: auto; */
    }

    .weather .future .day{
        /* display: inline-block; */
        width: auto;
        height: auto;
        padding: 10px 10px;
        margin-top: 10px;
    }

    .weather{
        width: auto;
        height: auto;
    }

    .weather .current{
        width: inherit;
    }

    .weather .current .icon
    {
    /* text-align: center; */
    font-size: 30px;
    /* flex-grow: 1; */
    }

    .weather .current .info .city
    {
        font-size: 40px;
        text-align: left;
        letter-spacing: 3px;
        text-transform: uppercase;

    }
    #backButton {
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        position: absolute; 
        top: 1%;   
        left: 5%;     
        width: 25px;
        margin-top: -2px;
    }
    h4{
        font-size: 20px;
        text-align: center;
    }
}


                
                
               